{% extends 'base.html.twig' %}


{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">


<img id="yoga_bg_fixed" src="{{ asset('assets/images/yoga1.jpg')}}" alt="logo animé natal tribe">
<header>
 
    <p>NATAL TRIBE</p>
    <h1>COURS DE YOGA PRE & POST NATAL</h1>
    <h2>À Bordeaux et en ligne</h2>
    <span><img src="{{ asset('assets/images/nav_sans_bg2.png')}}" alt="logo natal tribe font transparent"></span>
</header>

<main>
    <section class="sectionImp section section1" >
    
        <h2>Yoga pré natal et post natal. Pourquoi ? Quand commencer ? Comment ?</h2>
        
        <p>Le Yoga prénatal et postnatal Natal Tribe est dédié aux femmes et au voyage intuitif de la grossesse et du post-partum.<br> <br> Comme la grossesse ou la naissance d'un enfant, la pratique de yoga est une expérience unique, liée à votre ressenti et à l'écoute de soi.<br><br> Par des mouvements maîtrisés, avec une approche profonde de Yoga Vinyasa et suivant la Méthode De Gasquet, je vous invite à explorer votre corps en pleine évolution et à prendre conscience de vos possibilités, et ce, bien au delà du tapis de Yoga.</p>  
    
    </section>

    
    <section class="sectionPair section">
        <h2>Bienfaits du yoga pré natal</h2>
        <div class="article">
        <figure>
            <img src="{{ asset('assets/images/yoga_position1.jpg')}}" alt="">
            <img src="{{ asset('assets/images/prenatal.jpg')}}" alt="">          
            <img src="{{ asset('assets/images/yoga_elipse2.jpg')}}" alt="">
            <img src="{{ asset('assets/images/yoga_elipse.png')}}" alt="">
            
        
        </figure>
        <section>
            <p>Le Yoga prénatal permet d'accueillir les changements physiques et psychiques que vous traversez pendant 9 mois.

            Lors de votre pratique, vous apprenez à ouvrir votre corps, faire de la place, et à soulager les tensions que vous pourriez rencontrer aux différents stades de grossesse (douleurs ligamentaires et lombaires, sciatique, reflux, stress, jambes lourdes..).
            <br><br>
            Vous pouvez, par le mouvement, sentir ce qui est bon pour vous, mobiliser votre souffle pour créer plus d'espace pour votre bébé et engager votre périnée pour protéger votre ventre.
            <br><br>
            Vous amorcez la récupération physique de votre post-partum qui est intimement liée à une pratique adaptée en yoga prénatal. Vous renforcez votre tonus musculaire tout en pratiquant de manière sécuritaire pour vous et votre bébé.
            <br><br>
            Vous pourrez développer aussi un esprit serein et ouvert pour être prête à accueillir toute éventualité à l'accouchement.
            <br><br>
            Et c'est simplement un moment que vous vous offrez, pour faire une pause, et pour vous connecter un peu plus à votre bébé.</p>
        
        </section>
        </div>
    </section>

    <section class="sectionImp section postnatal">
        <h2>Intérêts du yoga post natal</h2>
        <article>
        <section>
            <p>Les séances de yoga postnatal sont conçues spécialement pour les femmes qui ont accouché, par voie basse ou par césarienne, et qui peuvent être pratiquées avant même la rééducation périnéale.
<br><br>
Ce yoga spécifique vous permet de vous réapproprier votre corps souvent oublié après la naissance du bébé. Lui qui a pourtant fourni beaucoup d'efforts et vécu des changements internes immenses.
<br><br>
On cherche à accompagner votre corps dans sa récupération, soutenir et ramener vers le centre les organes et les muscles complètement relâchés après l'accouchement et refermer le bassin et les côtes, pour éviter un diastasis par exemple.
<br><br>
C'est un outil précieux voire nécessaire pour votre avenir gynécologique et sexuel.
<br><br>
Vous apprendrez aussi à préserver votre périnée, à utiliser de bons réflexes posturaux avec votre bébé, à refaire une ceinture abdominale et vous remuscler sans risque.
<br><br>
Et bien sûr, c'est aussi un instant de partage et de détente entre mères, qui peuvent venir accompagnées de leur bébé.</p>
        </section>
        <figure>
        <img src="{{ asset('assets/images/postnatal_edited.jpg')}}" alt="">
        </figure>
        
        </article>

        

    </section>

    <section class="sectionPair section cours">
        <h2>Cours de yoga prénatal et/ou post natal</h2>
        <article>
            <section>
            <p>Cras sed lacus faucibus, rhoncus odio eget, efficitur elit. Aenean sed euismod enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. <br><br> Quisque sed porttitor ligula. Integer enim odio, aliquet in dui ac, dapibus vulputate neque. Aliquam nec bibendum urna. Donec at interdum leo, quis hendrerit neque. Suspendisse fermentum commodo ligula, ut viverra est lobortis sit amet. <br><br> Sed a ultrices nunc, non imperdiet erat. Ut venenatis risus risus, vel scelerisque dui porttitor id. </p>
            </section>
            <figure>
            </figure>
        </article>
    </section>
    <section class="sectionImp section videos">
        <h2>Cours et programmes en vidéo</h2>
        
        <section>
        </section>
        <figure>
        </figure>
    
    
</main>


{% endblock %}
