{% extends 'base.html.twig' %}

{% block title %}Videos{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('assets/bootswatch/dist/journal/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/videos.css') }}">

<style>

</style>

    <h1>Videos</h1>

<div class="container oneByOne">
 {% for video in videos %}

    <div class="card" style="width: 18rem;">
  <img src="{{ asset('assets/images/postnatal_edited.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><h2>{{ video.nom }}</h2></li>
        </ul>
        <button type="button" class="btn btn-primary"><a style="color: white" href="{{ path('app_videos_show', {'slug': video.slug}) }}">Voir</a></button>
        <p class="card-text">{{ video.description }}</p>
        

  </div>
</div>


{% endfor %}
</div>

    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
{% endblock %}
