 <nav>
        <a id="logo" href="{{ path('home') }}"> <img src="{{ asset('assets/images/logo_sans_bg.png')}}" alt=""> </a>
        <ul class="nav-links">
            <li class="dropdown_nav"> <a class="dropdown_active" href="#">À propos</a>

                <ul class="dropdown_content">
                    <li><a href="{{ path('approche') }}">Mon approche</a></li>
                    <li><a href="{{ path('parcours') }}">Parcours</a></li>
                
                    
                </ul>

            </li>

            <li> <a href="#">Cours</a></li>
            <li> <a href="{{ path('videos') }}">Vidéos</a></li>
            <li> <a href="{{ path('contact') }}">Contact</a></li>
            {% if app.user %}
            {% else %}
                
            <li> <a href="{{ path('app_login') }}">Se connecter</a></li>
            {% endif %}
            {% if app.user %}
            <li class="dropdown_nav"> <a class="dropdown_active" href="#"><i class="fas fa-user-circle"></i></a>

                <ul class="dropdown_content">
                    <li><a href="#">Mes réservations</a></li>
                    <li><a href="#">Mon Compte</a> </li>
                    <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    
                </ul>
            <li> <a href="#"> <i class='fas fa-video'></i></a> </li>
            {% endif %}
            
            {% if is_granted('ROLE_ADMIN') %}
            <li> <a href="#">Admin</a></li>
            {# <li> <a href="{{ path('admin') }}">Admin</a></li> #}
            {% endif %}
        </ul>

        <div class="burger">
            <span> </span>
        </div>
    </nav>